<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
		<!-- <script src="../../assets/javascriptFiles/chatScript.js"></script> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		
	   <input class="form-control" [(ngModel)]="user" placeholder="Enter your Name">
	    <div class="form-group">
                            <select id="groupDroupDown" class="dropdown-menu1" (change)="chooseGroup($event.target.value)" [(ngModel)]="selectGroup">
                                <option value="">Select Group</option>
                                <option value="G1">G1</option>
                                <option value="G2">G2</option>
                            </select> 
                        </div>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<div class="contacts">
						<li *ngFor="let group of groups">
							<div class="d-flex bd-highlight" (click)="chooseGroup(group.groupName)">
								<div class="img_cont">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjOn12lScs8BoFpcmlH3DMJ8xEdVMAkH1yvAS0b1IJV9vjmrEl" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{group.groupName}}</span>
									<p>chanchal is online</p>
								</div>
							</div>
						</li>
						<li *ngFor="let user of users">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
									<span class="online_icon offline"></span>
								</div>
								<div class="user_info">
									<span>{{user.username}}</span>
									<p>Sahar left 7 mins ago</p>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.pinimg.com/originals/54/6e/6d/546e6d4c6ce4322e6aa3b2f8ca73ac28.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Yolduz Rafi</span>
									<p>Yolduz is online</p>
								</div>
							</div>
						</li>
						
                    </div>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjOn12lScs8BoFpcmlH3DMJ8xEdVMAkH1yvAS0b1IJV9vjmrEl" class="rounded-circle user_img" >
									<span class="online_icon"></span>
								</div>
								<div class="user_info" style="margin-right: auto;">
									<span>{{this.selectedGroup}}</span>
									<p>1767 Messages</p>
								</div>
								<!-- <div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div> -->
								<div class="matmenu" style="float: right;">
										<button mat-icon-button [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
										  </button>
										  <mat-menu #menu="matMenu">
											<button mat-menu-item>
											   <mat-icon>perm_identity</mat-icon>
											  <span>View Profile</span>
											</button> 
											<button mat-menu-item (click)="openDialog()" >
											  <mat-icon>group_add</mat-icon>
												  <span>Create Group</span>
											</button>
											<button mat-menu-item *ngIf="this.checkGpAvaliabl" (click)="leave()">
													<mat-icon>person_add_disabled</mat-icon>
													<span>Leave Group</span>
											</button>
											<button mat-menu-item>
													<mat-icon>delete_outline</mat-icon>
													<span>Delete Chat</span>
											</button>
											<button mat-menu-item>
											  <mat-icon>power_settings_new</mat-icon>
											  <span>Log Out</span>
											</button>
										  </mat-menu>
									</div>	
							</div>
							<!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div> -->
                                <!-- <div class="form-group">
                            <select id="groupDroupDown" class="dropdown-menu1" (change)="chooseGroup($event.target.value)" [(ngModel)]="selectGroup">
                                <option value="">Select Group</option>
                                <option value="G1">G1</option>
                                <option value="G2">G2</option>
                            </select> 
                        </div> -->
						</div>
						<div class="card-body msg_card_body">
					<div *ngFor="let newjoin of joinList" class="newJoinMember">
						<p>
								{{newjoin.joinmsg}}</p>
								<p>{{newjoin.date | date:'long'}}</p>
					</div>
			<!-- get odd chat msg -->
			<div *ngFor="let oddmsg of getmsg">
								
				<div class="d-flex justify-content-end mb-4" *ngIf="this.user===oddmsg .user;else sendmsg" >
						<!-- <div style="float: left;width: 50%;"> -->
									<div class="msg_cotainer_send">
									
											{{oddmsg.msg}}<br>
											<span class="msg_time_send">{{oddmsg.date}}</span>
										</div>
									<!-- </div>  -->
									
									<div class="img_cont_msg">
								<img src="" class="rounded-circle user_img_msg">
									</div>
				</div>
				<ng-template #sendmsg>
						<div class="d-flex justify-content-start mb-4" >
									<div class="img_cont_msg">
										<img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img_msg">
									</div>
									<div class="msg_cotainer">
										{{oddmsg.msg}}
										<span class="msg_time">{{oddmsg.date}}</span>
									</div>
				</div>
				</ng-template>
							</div>
			<!-- start chatting				 -->
			<div *ngFor="let chat of msgList">				
			<div class="d-flex justify-content-end mb-4" *ngIf="this.user===chat.user;else sendmsg" >
					<!-- <div style="float: left;width: 50%;"> -->
								<div class="msg_cotainer_send">
								
										{{chat.msg}}<br>
										<span class="msg_time_send">{{chat.date}}</span>
									</div>
								<!-- </div>  -->
								
								<div class="img_cont_msg">
							<img src="" class="rounded-circle user_img_msg">
								</div>
			</div>
			<ng-template #sendmsg>
					<div class="d-flex justify-content-start mb-4" >
								<div class="img_cont_msg">
									<img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									{{chat.msg}}
									<span class="msg_time">{{chat.date}}</span>
								</div>
			</div>
			</ng-template>
						</div>
					
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea name="" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="msg"></textarea>
								<div class="input-group-append" (click)="sendMessage()">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
	</body>
</html>
